@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 700;
  src: local('Asap Bold'), local('Asap-Bold'), url(http://fonts.gstatic.com/s/asap/v5/5DVGWnz9Skaq1amwwwGZEw.ttf) format('truetype');
}
