@{
    Layout = "~/Views/Shared/WebLayout.cshtml";
}



<div class="category-list-body">



    <div id="space-expand" class="content-category">


        <div class="navi-tab">
            <div class="tab-item active">Bài viết mới nhất</div>
            <div class="tab-item">Bài viết trả lời nhiều nhất</div>
            <div class="tab-item">Bài viết xem nhiều nhất</div>
        </div>

        <div class="featured-topic topic-list">
            <div style="display: block;">
                <div class="featured-topic-items">
                    <div class="topic-item">
                        <div class="author-avatar" style="background: url(/images/1876627109227082.png); background-repeat: no-repeat; background-size: contain;"></div>
                        <div class="topic-content">
                            <div class="topic-left-group">
                                <div class="topic-header">
                                    title
                                </div>
                            </div>

                            <div class="statistics">

                                <div class="author-topic">
                                    Tú Nguyễn
                                </div>

                                <div class="date-create-topic">
                                    15/05/17 17:50
                                </div>

                                <div class="no-of-view-group statistics-item">
                                    <div class="no-of-view statistics-text">0</div>
                                    <div class="no-of-view-icon statistics-icon"></div>
                                </div>
                                <div class="no-of-like-group statistics-item">
                                    <div class="no-of-like statistics-text">0</div>
                                    <div class="no-of-like-icon statistics-icon"></div>
                                </div>
                                <div class="no-of-comment-group statistics-item">
                                    <div class="no-of-comment statistics-text">0</div>
                                    <div class="no-of-comment-icon statistics-icon"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="topic-item">
                        <div class="author-avatar" style="background: url(/images/1876627109227082.png); background-repeat: no-repeat; background-size: contain;"></div>
                        <div class="topic-content">
                            <div class="topic-left-group">
                                <div class="topic-header">
                                    title
                                </div>
                            </div>

                            <div class="statistics">

                                <div class="author-topic">
                                    Tú Nguyễn
                                </div>

                                <div class="date-create-topic">
                                    15/05/17 17:50
                                </div>

                                <div class="no-of-view-group statistics-item">
                                    <div class="no-of-view statistics-text">0</div>
                                    <div class="no-of-view-icon statistics-icon"></div>
                                </div>
                                <div class="no-of-like-group statistics-item">
                                    <div class="no-of-like statistics-text">0</div>
                                    <div class="no-of-like-icon statistics-icon"></div>
                                </div>
                                <div class="no-of-comment-group statistics-item">
                                    <div class="no-of-comment statistics-text">0</div>
                                    <div class="no-of-comment-icon statistics-icon"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="topic-item">
                        <div class="author-avatar" style="background: url(/images/1876627109227082.png); background-repeat: no-repeat; background-size: contain;"></div>
                        <div class="topic-content">
                            <div class="topic-left-group">
                                <div class="topic-header">
                                    title
                                </div>
                            </div>

                            <div class="statistics">

                                <div class="author-topic">
                                    Tú Nguyễn
                                </div>

                                <div class="date-create-topic">
                                    15/05/17 17:50
                                </div>

                                <div class="no-of-view-group statistics-item">
                                    <div class="no-of-view statistics-text">0</div>
                                    <div class="no-of-view-icon statistics-icon"></div>
                                </div>
                                <div class="no-of-like-group statistics-item">
                                    <div class="no-of-like statistics-text">0</div>
                                    <div class="no-of-like-icon statistics-icon"></div>
                                </div>
                                <div class="no-of-comment-group statistics-item">
                                    <div class="no-of-comment statistics-text">0</div>
                                    <div class="no-of-comment-icon statistics-icon"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="topic-item">
                        <div class="author-avatar" style="background: url(/images/1876627109227082.png); background-repeat: no-repeat; background-size: contain;"></div>
                        <div class="topic-content">
                            <div class="topic-left-group">
                                <div class="topic-header">
                                    title
                                </div>
                            </div>

                            <div class="statistics">

                                <div class="author-topic">
                                    Tú Nguyễn
                                </div>

                                <div class="date-create-topic">
                                    15/05/17 17:50
                                </div>

                                <div class="no-of-view-group statistics-item">
                                    <div class="no-of-view statistics-text">0</div>
                                    <div class="no-of-view-icon statistics-icon"></div>
                                </div>
                                <div class="no-of-like-group statistics-item">
                                    <div class="no-of-like statistics-text">0</div>
                                    <div class="no-of-like-icon statistics-icon"></div>
                                </div>
                                <div class="no-of-comment-group statistics-item">
                                    <div class="no-of-comment statistics-text">0</div>
                                    <div class="no-of-comment-icon statistics-icon"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="topic-item">
                        <div class="author-avatar" style="background: url(/images/1876627109227082.png); background-repeat: no-repeat; background-size: contain;"></div>
                        <div class="topic-content">
                            <div class="topic-left-group">
                                <div class="topic-header">
                                    title
                                </div>
                            </div>

                            <div class="statistics">

                                <div class="author-topic">
                                    Tú Nguyễn
                                </div>

                                <div class="date-create-topic">
                                    15/05/17 17:50
                                </div>

                                <div class="no-of-view-group statistics-item">
                                    <div class="no-of-view statistics-text">0</div>
                                    <div class="no-of-view-icon statistics-icon"></div>
                                </div>
                                <div class="no-of-like-group statistics-item">
                                    <div class="no-of-like statistics-text">0</div>
                                    <div class="no-of-like-icon statistics-icon"></div>
                                </div>
                                <div class="no-of-comment-group statistics-item">
                                    <div class="no-of-comment statistics-text">0</div>
                                    <div class="no-of-comment-icon statistics-icon"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="topic-item">
                        <div class="author-avatar" style="background: url(/images/1876627109227082.png); background-repeat: no-repeat; background-size: contain;"></div>
                        <div class="topic-content">
                            <div class="topic-left-group">
                                <div class="topic-header">
                                    title
                                </div>
                            </div>

                            <div class="statistics">

                                <div class="author-topic">
                                    Tú Nguyễn
                                </div>

                                <div class="date-create-topic">
                                    15/05/17 17:50
                                </div>

                                <div class="no-of-view-group statistics-item">
                                    <div class="no-of-view statistics-text">0</div>
                                    <div class="no-of-view-icon statistics-icon"></div>
                                </div>
                                <div class="no-of-like-group statistics-item">
                                    <div class="no-of-like statistics-text">0</div>
                                    <div class="no-of-like-icon statistics-icon"></div>
                                </div>
                                <div class="no-of-comment-group statistics-item">
                                    <div class="no-of-comment statistics-text">0</div>
                                    <div class="no-of-comment-icon statistics-icon"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="topic-item">
                        <div class="author-avatar" style="background: url(/images/1876627109227082.png); background-repeat: no-repeat; background-size: contain;"></div>
                        <div class="topic-content">
                            <div class="topic-left-group">
                                <div class="topic-header">
                                    title
                                </div>
                            </div>

                            <div class="statistics">

                                <div class="author-topic">
                                    Tú Nguyễn
                                </div>

                                <div class="date-create-topic">
                                    15/05/17 17:50
                                </div>

                                <div class="no-of-view-group statistics-item">
                                    <div class="no-of-view statistics-text">0</div>
                                    <div class="no-of-view-icon statistics-icon"></div>
                                </div>
                                <div class="no-of-like-group statistics-item">
                                    <div class="no-of-like statistics-text">0</div>
                                    <div class="no-of-like-icon statistics-icon"></div>
                                </div>
                                <div class="no-of-comment-group statistics-item">
                                    <div class="no-of-comment statistics-text">0</div>
                                    <div class="no-of-comment-icon statistics-icon"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="topic-item">
                        <div class="author-avatar" style="background: url(/images/1876627109227082.png); background-repeat: no-repeat; background-size: contain;"></div>
                        <div class="topic-content">
                            <div class="topic-left-group">
                                <div class="topic-header">
                                    title
                                </div>
                            </div>

                            <div class="statistics">

                                <div class="author-topic">
                                    Tú Nguyễn
                                </div>

                                <div class="date-create-topic">
                                    15/05/17 17:50
                                </div>

                                <div class="no-of-view-group statistics-item">
                                    <div class="no-of-view statistics-text">0</div>
                                    <div class="no-of-view-icon statistics-icon"></div>
                                </div>
                                <div class="no-of-like-group statistics-item">
                                    <div class="no-of-like statistics-text">0</div>
                                    <div class="no-of-like-icon statistics-icon"></div>
                                </div>
                                <div class="no-of-comment-group statistics-item">
                                    <div class="no-of-comment statistics-text">0</div>
                                    <div class="no-of-comment-icon statistics-icon"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    <div class="page-number-group">
        <div class="page-content">
            <div class="page-number-item active">1</div>
            <div class="page-number-item">2</div>
            <div class="page-number-item">3</div>
            <div class="page-number-item">4</div>
        </div>
    </div>


    </div>


    <div class="featured-topic-in-cat">



        <div class="featured-topic-title">Các bài đăng nổi bật</div>

        <div id="feature-topic-fixed" class="featured-topic-parent">
            <div class="featured-topic-item">
                <div class="cat-list author-avatar" style="background: url(/images/1876627109227082.png); background-repeat: no-repeat; background-size: contain;"></div>
                <div class="cat-list topic-content">
                    <div class="cat-list topic-left-group">
                        <div class="cat-list topic-header">
                            title
                        </div>
                        <div class="bottom-group">
                            <div class="cat-list author-and-time">
                                <div class="cat-list author-topic">
                                    Tú Nguyễn
                                </div>

                                <div class="cat-list date-create-topic">
                                    5 phút trước
                                </div>
                            </div>
                            <div class="cat-list statistics">
                                <div class="cat-list contain-statistics">
                                    <div class="cat-list no-of-view-group statistics-item">
                                        <div class="cat-list no-of-view statistics-text">0</div>
                                        <div class="cat-list no-of-view-icon statistics-icon"></div>
                                    </div>
                                    <div class="cat-list no-of-like-group statistics-item">
                                        <div class="cat-list no-of-like statistics-text">0</div>
                                        <div class="cat-list no-of-like-icon statistics-icon"></div>
                                    </div>
                                    <div class="cat-list no-of-comment-group statistics-item">
                                        <div class="cat-list no-of-comment statistics-text">0</div>
                                        <div class="cat-list no-of-comment-icon statistics-icon"></div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="featured-topic-item">
                <div class="cat-list author-avatar" style="background: url(/images/1876627109227082.png); background-repeat: no-repeat; background-size: contain;"></div>
                <div class="cat-list topic-content">
                    <div class="cat-list topic-left-group">
                        <div class="cat-list topic-header">
                            title
                        </div>
                    </div>

                    <div class="cat-list statistics">

                        <div class="cat-list contain-statistics">
                            <div class="cat-list no-of-view-group statistics-item">
                                <div class="cat-list no-of-view statistics-text">0</div>
                                <div class="cat-list no-of-view-icon statistics-icon"></div>
                            </div>
                            <div class="cat-list no-of-like-group statistics-item">
                                <div class="cat-list no-of-like statistics-text">0</div>
                                <div class="cat-list no-of-like-icon statistics-icon"></div>
                            </div>
                            <div class="cat-list no-of-comment-group statistics-item">
                                <div class="cat-list no-of-comment statistics-text">0</div>
                                <div class="cat-list no-of-comment-icon statistics-icon"></div>
                            </div>
                        </div>

                        <div class="cat-list author-and-time">
                            <div class="cat-list author-topic">
                                Tú Nguyễn
                            </div>

                            <div class="cat-list date-create-topic">
                                5 phút trước
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="featured-topic-item">
                <div class="cat-list author-avatar" style="background: url(/images/1876627109227082.png); background-repeat: no-repeat; background-size: contain;"></div>
                <div class="cat-list topic-content">
                    <div class="cat-list topic-left-group">
                        <div class="cat-list topic-header">
                            title
                        </div>
                    </div>

                    <div class="cat-list statistics">

                        <div class="cat-list contain-statistics">
                            <div class="cat-list no-of-view-group statistics-item">
                                <div class="cat-list no-of-view statistics-text">0</div>
                                <div class="cat-list no-of-view-icon statistics-icon"></div>
                            </div>
                            <div class="cat-list no-of-like-group statistics-item">
                                <div class="cat-list no-of-like statistics-text">0</div>
                                <div class="cat-list no-of-like-icon statistics-icon"></div>
                            </div>
                            <div class="cat-list no-of-comment-group statistics-item">
                                <div class="cat-list no-of-comment statistics-text">0</div>
                                <div class="cat-list no-of-comment-icon statistics-icon"></div>
                            </div>
                        </div>

                        <div class="cat-list author-and-time">
                            <div class="cat-list author-topic">
                                Tú Nguyễn
                            </div>

                            <div class="cat-list date-create-topic">
                                5 phút trước
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="featured-topic-item">
                <div class="cat-list author-avatar" style="background: url(/images/1876627109227082.png); background-repeat: no-repeat; background-size: contain;"></div>
                <div class="cat-list topic-content">
                    <div class="cat-list topic-left-group">
                        <div class="cat-list topic-header">
                            title
                        </div>
                    </div>

                    <div class="cat-list statistics">

                        <div class="cat-list contain-statistics">
                            <div class="cat-list no-of-view-group statistics-item">
                                <div class="cat-list no-of-view statistics-text">0</div>
                                <div class="cat-list no-of-view-icon statistics-icon"></div>
                            </div>
                            <div class="cat-list no-of-like-group statistics-item">
                                <div class="cat-list no-of-like statistics-text">0</div>
                                <div class="cat-list no-of-like-icon statistics-icon"></div>
                            </div>
                            <div class="cat-list no-of-comment-group statistics-item">
                                <div class="cat-list no-of-comment statistics-text">0</div>
                                <div class="cat-list no-of-comment-icon statistics-icon"></div>
                            </div>
                        </div>

                        <div class="cat-list author-and-time">
                            <div class="cat-list author-topic">
                                Tú Nguyễn
                            </div>

                            <div class="cat-list date-create-topic">
                                5 phút trước
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="featured-topic-item">
                <div class="cat-list author-avatar" style="background: url(/images/1876627109227082.png); background-repeat: no-repeat; background-size: contain;"></div>
                <div class="cat-list topic-content">
                    <div class="cat-list topic-left-group">
                        <div class="cat-list topic-header">
                            title
                        </div>
                    </div>

                    <div class="cat-list statistics">

                        <div class="cat-list contain-statistics">
                            <div class="cat-list no-of-view-group statistics-item">
                                <div class="cat-list no-of-view statistics-text">0</div>
                                <div class="cat-list no-of-view-icon statistics-icon"></div>
                            </div>
                            <div class="cat-list no-of-like-group statistics-item">
                                <div class="cat-list no-of-like statistics-text">0</div>
                                <div class="cat-list no-of-like-icon statistics-icon"></div>
                            </div>
                            <div class="cat-list no-of-comment-group statistics-item">
                                <div class="cat-list no-of-comment statistics-text">0</div>
                                <div class="cat-list no-of-comment-icon statistics-icon"></div>
                            </div>
                        </div>

                        <div class="cat-list author-and-time">
                            <div class="cat-list author-topic">
                                Tú Nguyễn
                            </div>

                            <div class="cat-list date-create-topic">
                                5 phút trước
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="featured-topic-item">
                <div class="cat-list author-avatar" style="background: url(/images/1876627109227082.png); background-repeat: no-repeat; background-size: contain;"></div>
                <div class="cat-list topic-content">
                    <div class="cat-list topic-left-group">
                        <div class="cat-list topic-header">
                            title
                        </div>
                    </div>

                    <div class="cat-list statistics">

                        <div class="cat-list contain-statistics">
                            <div class="cat-list no-of-view-group statistics-item">
                                <div class="cat-list no-of-view statistics-text">0</div>
                                <div class="cat-list no-of-view-icon statistics-icon"></div>
                            </div>
                            <div class="cat-list no-of-like-group statistics-item">
                                <div class="cat-list no-of-like statistics-text">0</div>
                                <div class="cat-list no-of-like-icon statistics-icon"></div>
                            </div>
                            <div class="cat-list no-of-comment-group statistics-item">
                                <div class="cat-list no-of-comment statistics-text">0</div>
                                <div class="cat-list no-of-comment-icon statistics-icon"></div>
                            </div>
                        </div>

                        <div class="cat-list author-and-time">
                            <div class="cat-list author-topic">
                                Tú Nguyễn
                            </div>

                            <div class="cat-list date-create-topic">
                                5 phút trước
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="featured-topic-item">
                <div class="cat-list author-avatar" style="background: url(/images/1876627109227082.png); background-repeat: no-repeat; background-size: contain;"></div>
                <div class="cat-list topic-content">
                    <div class="cat-list topic-left-group">
                        <div class="cat-list topic-header">
                            title
                        </div>
                    </div>

                    <div class="cat-list statistics">

                        <div class="cat-list contain-statistics">
                            <div class="cat-list no-of-view-group statistics-item">
                                <div class="cat-list no-of-view statistics-text">0</div>
                                <div class="cat-list no-of-view-icon statistics-icon"></div>
                            </div>
                            <div class="cat-list no-of-like-group statistics-item">
                                <div class="cat-list no-of-like statistics-text">0</div>
                                <div class="cat-list no-of-like-icon statistics-icon"></div>
                            </div>
                            <div class="cat-list no-of-comment-group statistics-item">
                                <div class="cat-list no-of-comment statistics-text">0</div>
                                <div class="cat-list no-of-comment-icon statistics-icon"></div>
                            </div>
                        </div>

                        <div class="cat-list author-and-time">
                            <div class="cat-list author-topic">
                                Tú Nguyễn
                            </div>

                            <div class="cat-list date-create-topic">
                                5 phút trước
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>

    var curTab = $($('.tab-item')[0]);

    $.each($('.tab-item'),
        function (key, value) {

            $(value).click(function (e) {
                curTab.removeClass('active');
                $(value).addClass('active');
                curTab = $(value);
            });
        });

    var curPage = $($('.page-number-item')[0]);
    $.each($('.page-number-item'),
        function (key, value) {

            $(value).click(function (e) {
                curPage.removeClass('active');
                $(value).addClass('active');
                curPage = $(value);
            });
        });


</script>