@{
    Layout = "~/Views/Shared/WebLayout.cshtml";
}

<style>
    body {
        overflow: hidden;
    }
</style>

<div class="category-navigation">

    <div class="home-icon">

    </div>

    <div class="par-icon">
        <div class="bg-nav"></div>
        <div class="current-nav-name">
            Bán hàng
        </div>



    </div>
</div>

<div class="category-list-body">

    <div id="space-expand" class="content-category">

        <div class="category-list">

            <div class="category-parent-item">

                <div class="featured-topic-title title-item">Điện tử</div>
                <div class="content-expand" style="display: block;">
                    <div class="featured-topic-items">
                        <div class="category-item">
                            <div class="category-left-group">
                                <div class="category-item-image" style="background: url(/images/computer.png); background-repeat: no-repeat; background-size: contain;"></div>
                                <div class="title-category-group">
                                    <div class="category-header">
                                        Máy tính
                                    </div>
                                    <div class="topic-statistics">
                                        <img class="img-num-of-topic" src="/Images/thread.png" />
                                        <div class="num-of-topic">3</div>

                                    </div>
                                </div>
                            </div>

                            <div class="category-content">

                                <div class="statistics">
                                    <div class="right-content-category">
                                        <div class="category-child-item">
                                            <div class="category-child-label"> </div>
                                            <div class="title-lastest-topic linker-item">Bán laptop dell...</div>
                                        </div>
                                        <div class="category-child-item">
                                            <img src="/images/122533638311432.png" class="avatar-author-lastest-topic"> </img>
                                            <div class="author-lastest-topic linker-item">Hùng bin</div>
                                            <div class="time-lastest-topic">, 6 phút trước</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="category-item">
                            <div class="category-left-group">
                                <div class="category-item-image" style="background: url(/images/computer.png); background-repeat: no-repeat; background-size: contain;"></div>
                                <div class="title-category-group">
                                    <div class="category-header">
                                        Máy tính
                                    </div>
                                    <div class="topic-statistics">
                                        <img class="img-num-of-topic" src="/Images/thread.png" />
                                        <div class="num-of-topic">3</div>

                                    </div>
                                </div>
                            </div>

                            <div class="category-content">

                                <div class="statistics">
                                    <div class="right-content-category">
                                        <div class="category-child-item">
                                            <div class="category-child-label">Mới nhất: </div>
                                            <div class="title-lastest-topic linker-item">Bán laptop dell...</div>
                                        </div>
                                        <div class="category-child-item">
                                            <div class="category-child-label">Đăng bởi: </div>
                                            <div class="author-lastest-topic linker-item">Hùng bin</div>
                                            <div class="time-lastest-topic">, 6 phút trước</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="category-item">
                            <div class="category-left-group">
                                <div class="category-item-image" style="background: url(/images/computer.png); background-repeat: no-repeat; background-size: contain;"></div>
                                <div class="title-category-group">
                                    <div class="category-header">
                                        Máy tính
                                    </div>
                                    <div class="topic-statistics">
                                        <img class="img-num-of-topic" src="/Images/thread.png" />
                                        <div class="num-of-topic">3</div>

                                    </div>
                                </div>
                            </div>

                            <div class="category-content">

                                <div class="statistics">
                                    <div class="right-content-category">
                                        <div class="category-child-item">
                                            <div class="category-child-label">Mới nhất: </div>
                                            <div class="title-lastest-topic linker-item">Bán laptop dell...</div>
                                        </div>
                                        <div class="category-child-item">
                                            <div class="category-child-label">Đăng bởi: </div>
                                            <div class="author-lastest-topic linker-item">Hùng bin</div>
                                            <div class="time-lastest-topic">, 6 phút trước</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="category-item">
                            <div class="category-left-group">
                                <div class="category-item-image" style="background: url(/images/computer.png); background-repeat: no-repeat; background-size: contain;"></div>
                                <div class="title-category-group">
                                    <div class="category-header">
                                        Máy tính
                                    </div>
                                    <div class="topic-statistics">
                                        <img class="img-num-of-topic" src="/Images/thread.png" />
                                        <div class="num-of-topic">3</div>

                                    </div>
                                </div>
                            </div>

                            <div class="category-content">

                                <div class="statistics">
                                    <div class="right-content-category">
                                        <div class="category-child-item">
                                            <div class="category-child-label">Mới nhất: </div>
                                            <div class="title-lastest-topic linker-item">Bán laptop dell...</div>
                                        </div>
                                        <div class="category-child-item">
                                            <div class="category-child-label">Đăng bởi: </div>
                                            <div class="author-lastest-topic linker-item">Hùng bin</div>
                                            <div class="time-lastest-topic">, 6 phút trước</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="category-item">
                            <div class="category-left-group">
                                <div class="category-item-image" style="background: url(/images/computer.png); background-repeat: no-repeat; background-size: contain;"></div>
                                <div class="title-category-group">
                                    <div class="category-header">
                                        Máy tính
                                    </div>
                                    <div class="topic-statistics">
                                        <img class="img-num-of-topic" src="/Images/thread.png" />
                                        <div class="num-of-topic">3</div>

                                    </div>
                                </div>
                            </div>

                            <div class="category-content">

                                <div class="statistics">
                                    <div class="right-content-category">
                                        <div class="category-child-item">
                                            <div class="category-child-label">Mới nhất: </div>
                                            <div class="title-lastest-topic linker-item">Bán laptop dell...</div>
                                        </div>
                                        <div class="category-child-item">
                                            <div class="category-child-label">Đăng bởi: </div>
                                            <div class="author-lastest-topic linker-item">Hùng bin</div>
                                            <div class="time-lastest-topic">, 6 phút trước</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="category-item">
                            <div class="category-left-group">
                                <div class="category-item-image" style="background: url(/images/computer.png); background-repeat: no-repeat; background-size: contain;"></div>
                                <div class="title-category-group">
                                    <div class="category-header">
                                        Máy tính
                                    </div>
                                    <div class="topic-statistics">
                                        <img class="img-num-of-topic" src="/Images/thread.png" />
                                        <div class="num-of-topic">3</div>

                                    </div>
                                </div>
                            </div>

                            <div class="category-content">

                                <div class="statistics">
                                    <div class="right-content-category">
                                        <div class="category-child-item">
                                            <div class="category-child-label">Mới nhất: </div>
                                            <div class="title-lastest-topic linker-item">Bán laptop dell...</div>
                                        </div>
                                        <div class="category-child-item">
                                            <div class="category-child-label">Đăng bởi: </div>
                                            <div class="author-lastest-topic linker-item">Hùng bin</div>
                                            <div class="time-lastest-topic">, 6 phút trước</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="category-item">
                            <div class="category-left-group">
                                <div class="category-item-image" style="background: url(/images/computer.png); background-repeat: no-repeat; background-size: contain;"></div>
                                <div class="title-category-group">
                                    <div class="category-header">
                                        Máy tính
                                    </div>
                                    <div class="topic-statistics">
                                        <img class="img-num-of-topic" src="/Images/thread.png" />
                                        <div class="num-of-topic">3</div>

                                    </div>
                                </div>
                            </div>

                            <div class="category-content">

                                <div class="statistics">
                                    <div class="right-content-category">
                                        <div class="category-child-item">
                                            <div class="category-child-label">Mới nhất: </div>
                                            <div class="title-lastest-topic linker-item">Bán laptop dell...</div>
                                        </div>
                                        <div class="category-child-item">
                                            <div class="category-child-label">Đăng bởi: </div>
                                            <div class="author-lastest-topic linker-item">Hùng bin</div>
                                            <div class="time-lastest-topic">, 6 phút trước</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="category-item">
                            <div class="category-left-group">
                                <div class="category-item-image" style="background: url(/images/computer.png); background-repeat: no-repeat; background-size: contain;"></div>
                                <div class="title-category-group">
                                    <div class="category-header">
                                        Máy tính
                                    </div>
                                    <div class="topic-statistics">
                                        <img class="img-num-of-topic" src="/Images/thread.png" />
                                        <div class="num-of-topic">3</div>

                                    </div>
                                </div>
                            </div>

                            <div class="category-content">

                                <div class="statistics">
                                    <div class="right-content-category">
                                        <div class="category-child-item">
                                            <div class="category-child-label">Mới nhất: </div>
                                            <div class="title-lastest-topic linker-item">Bán laptop dell...</div>
                                        </div>
                                        <div class="category-child-item">
                                            <div class="category-child-label">Đăng bởi: </div>
                                            <div class="author-lastest-topic linker-item">Hùng bin</div>
                                            <div class="time-lastest-topic">, 6 phút trước</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="category-item">
                            <div class="category-left-group">
                                <div class="category-item-image" style="background: url(/images/computer.png); background-repeat: no-repeat; background-size: contain;"></div>
                                <div class="title-category-group">
                                    <div class="category-header">
                                        Máy tính
                                    </div>
                                    <div class="topic-statistics">
                                        <img class="img-num-of-topic" src="/Images/thread.png" />
                                        <div class="num-of-topic">3</div>

                                    </div>
                                </div>
                            </div>

                            <div class="category-content">

                                <div class="statistics">
                                    <div class="right-content-category">
                                        <div class="category-child-item">
                                            <div class="category-child-label">Mới nhất: </div>
                                            <div class="title-lastest-topic linker-item">Bán laptop dell...</div>
                                        </div>
                                        <div class="category-child-item">
                                            <div class="category-child-label">Đăng bởi: </div>
                                            <div class="author-lastest-topic linker-item">Hùng bin</div>
                                            <div class="time-lastest-topic">, 6 phút trước</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="category-item">
                            <div class="category-left-group">
                                <div class="category-item-image" style="background: url(/images/computer.png); background-repeat: no-repeat; background-size: contain;"></div>
                                <div class="title-category-group">
                                    <div class="category-header">
                                        Máy tính
                                    </div>
                                    <div class="topic-statistics">
                                        <img class="img-num-of-topic" src="/Images/thread.png" />
                                        <div class="num-of-topic">3</div>

                                    </div>
                                </div>
                            </div>

                            <div class="category-content">

                                <div class="statistics">
                                    <div class="right-content-category">
                                        <div class="category-child-item">
                                            <div class="category-child-label">Mới nhất: </div>
                                            <div class="title-lastest-topic linker-item">Bán laptop dell...</div>
                                        </div>
                                        <div class="category-child-item">
                                            <div class="category-child-label">Đăng bởi: </div>
                                            <div class="author-lastest-topic linker-item">Hùng bin</div>
                                            <div class="time-lastest-topic">, 6 phút trước</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="category-item">
                            <div class="category-left-group">
                                <div class="category-item-image" style="background: url(/images/computer.png); background-repeat: no-repeat; background-size: contain;"></div>
                                <div class="title-category-group">
                                    <div class="category-header">
                                        Máy tính
                                    </div>
                                    <div class="topic-statistics">
                                        <img class="img-num-of-topic" src="/Images/thread.png" />
                                        <div class="num-of-topic">3</div>

                                    </div>
                                </div>
                            </div>

                            <div class="category-content">

                                <div class="statistics">
                                    <div class="right-content-category">
                                        <div class="category-child-item">
                                            <div class="category-child-label">Mới nhất: </div>
                                            <div class="title-lastest-topic linker-item">Bán laptop dell...</div>
                                        </div>
                                        <div class="category-child-item">
                                            <div class="category-child-label">Đăng bởi: </div>
                                            <div class="author-lastest-topic linker-item">Hùng bin</div>
                                            <div class="time-lastest-topic">, 6 phút trước</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="category-item">
                            <div class="category-left-group">
                                <div class="category-item-image" style="background: url(/images/computer.png); background-repeat: no-repeat; background-size: contain;"></div>
                                <div class="title-category-group">
                                    <div class="category-header">
                                        Máy tính
                                    </div>
                                    <div class="topic-statistics">
                                        <img class="img-num-of-topic" src="/Images/thread.png" />
                                        <div class="num-of-topic">3</div>

                                    </div>
                                </div>
                            </div>

                            <div class="category-content">

                                <div class="statistics">
                                    <div class="right-content-category">
                                        <div class="category-child-item">
                                            <div class="category-child-label">Mới nhất: </div>
                                            <div class="title-lastest-topic linker-item">Bán laptop dell...</div>
                                        </div>
                                        <div class="category-child-item">
                                            <div class="category-child-label">Đăng bởi: </div>
                                            <div class="author-lastest-topic linker-item">Hùng bin</div>
                                            <div class="time-lastest-topic">, 6 phút trước</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="category-parent-item">


                <div class="featured-topic-title title-item">Thời trang</div>
                <div class="content-expand" style="display: block;">
                    <div class="featured-topic-items">
                        <div class="category-item">
                            <div class="category-left-group">
                                <div class="category-item-image" style="background: url(/images/computer.png); background-repeat: no-repeat; background-size: contain;"></div>
                                <div class="title-category-group">
                                    <div class="category-header">
                                        Máy tính
                                    </div>
                                    <div class="topic-statistics">
                                        <img class="img-num-of-topic" src="/Images/thread.png" />
                                        <div class="num-of-topic">3</div>

                                    </div>
                                </div>
                            </div>

                            <div class="category-content">

                                <div class="statistics">
                                    <div class="right-content-category">
                                        <div class="category-child-item">
                                            <div class="category-child-label">Mới nhất: </div>
                                            <div class="title-lastest-topic linker-item">Bán laptop dell...</div>
                                        </div>
                                        <div class="category-child-item">
                                            <div class="category-child-label">Đăng bởi: </div>
                                            <div class="author-lastest-topic linker-item">Hùng bin</div>
                                            <div class="time-lastest-topic">, 6 phút trước</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="category-item">
                            <div class="category-left-group">
                                <div class="category-item-image" style="background: url(/images/computer.png); background-repeat: no-repeat; background-size: contain;"></div>
                                <div class="title-category-group">
                                    <div class="category-header">
                                        Máy tính
                                    </div>
                                    <div class="topic-statistics">
                                        <img class="img-num-of-topic" src="/Images/thread.png" />
                                        <div class="num-of-topic">3</div>

                                    </div>
                                </div>
                            </div>

                            <div class="category-content">

                                <div class="statistics">
                                    <div class="right-content-category">
                                        <div class="category-child-item">
                                            <div class="category-child-label">Mới nhất: </div>
                                            <div class="title-lastest-topic linker-item">Bán laptop dell...</div>
                                        </div>
                                        <div class="category-child-item">
                                            <div class="category-child-label">Đăng bởi: </div>
                                            <div class="author-lastest-topic linker-item">Hùng bin</div>
                                            <div class="time-lastest-topic">, 6 phút trước</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="category-item">
                            <div class="category-left-group">
                                <div class="category-item-image" style="background: url(/images/computer.png); background-repeat: no-repeat; background-size: contain;"></div>
                                <div class="title-category-group">
                                    <div class="category-header">
                                        Máy tính
                                    </div>
                                    <div class="topic-statistics">
                                        <img class="img-num-of-topic" src="/Images/thread.png" />
                                        <div class="num-of-topic">3</div>

                                    </div>
                                </div>
                            </div>

                            <div class="category-content">

                                <div class="statistics">
                                    <div class="right-content-category">
                                        <div class="category-child-item">
                                            <div class="category-child-label">Mới nhất: </div>
                                            <div class="title-lastest-topic linker-item">Bán laptop dell...</div>
                                        </div>
                                        <div class="category-child-item">
                                            <div class="category-child-label">Đăng bởi: </div>
                                            <div class="author-lastest-topic linker-item">Hùng bin</div>
                                            <div class="time-lastest-topic">, 6 phút trước</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="category-parent-item">


                <div class="featured-topic-title title-item">Khác</div>
                <div class="content-expand" style="display: block;">
                    <div class="featured-topic-items">
                        <div class="category-item">
                            <div class="category-left-group">
                                <div class="category-item-image" style="background: url(/images/computer.png); background-repeat: no-repeat; background-size: contain;"></div>
                                <div class="title-category-group">
                                    <div class="category-header">
                                        Máy tính
                                    </div>
                                    <div class="topic-statistics">
                                        <img class="img-num-of-topic" src="/Images/thread.png" />
                                        <div class="num-of-topic">3</div>

                                    </div>
                                </div>
                            </div>

                            <div class="category-content">

                                <div class="statistics">
                                    <div class="right-content-category">
                                        <div class="category-child-item">
                                            <div class="category-child-label">Mới nhất: </div>
                                            <div class="title-lastest-topic linker-item">Bán laptop dell...</div>
                                        </div>
                                        <div class="category-child-item">
                                            <div class="category-child-label">Đăng bởi: </div>
                                            <div class="author-lastest-topic linker-item">Hùng bin</div>
                                            <div class="time-lastest-topic">, 6 phút trước</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="category-item">
                            <div class="category-left-group">
                                <div class="category-item-image" style="background: url(/images/computer.png); background-repeat: no-repeat; background-size: contain;"></div>
                                <div class="title-category-group">
                                    <div class="category-header">
                                        Máy tính
                                    </div>
                                    <div class="topic-statistics">
                                        <img class="img-num-of-topic" src="/Images/thread.png" />
                                        <div class="num-of-topic">3</div>

                                    </div>
                                </div>
                            </div>

                            <div class="category-content">

                                <div class="statistics">
                                    <div class="right-content-category">
                                        <div class="category-child-item">
                                            <div class="category-child-label">Mới nhất: </div>
                                            <div class="title-lastest-topic linker-item">Bán laptop dell...</div>
                                        </div>
                                        <div class="category-child-item">
                                            <div class="category-child-label">Đăng bởi: </div>
                                            <div class="author-lastest-topic linker-item">Hùng bin</div>
                                            <div class="time-lastest-topic">, 6 phút trước</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="category-item">
                            <div class="category-left-group">
                                <div class="category-item-image" style="background: url(/images/computer.png); background-repeat: no-repeat; background-size: contain;"></div>
                                <div class="title-category-group">
                                    <div class="category-header">
                                        Máy tính
                                    </div>
                                    <div class="topic-statistics">
                                        <img class="img-num-of-topic" src="/Images/thread.png" />
                                        <div class="num-of-topic">3</div>

                                    </div>
                                </div>
                            </div>

                            <div class="category-content">

                                <div class="statistics">
                                    <div class="right-content-category">
                                        <div class="category-child-item">
                                            <div class="category-child-label">Mới nhất: </div>
                                            <div class="title-lastest-topic linker-item">Bán laptop dell...</div>
                                        </div>
                                        <div class="category-child-item">
                                            <div class="category-child-label">Đăng bởi: </div>
                                            <div class="author-lastest-topic linker-item">Hùng bin</div>
                                            <div class="time-lastest-topic">, 6 phút trước</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>



        </div>

    </div>


    <div class="featured-topic-in-cat">



        <div class="featured-topic-title">Các bài đăng nổi bật</div>

        <div id="feature-topic-fixed" class="featured-topic-parent">
            <div class="featured-topic-item">
                <div class="cat-list author-avatar" style="background: url(/images/1876627109227082.png); background-repeat: no-repeat; background-size: contain;"></div>
                <div class="cat-list topic-content">
                    <div class="cat-list topic-left-group">
                        <div class="cat-list topic-header">
                            title
                        </div>
                        <div class="bottom-group">
                            <div class="cat-list author-and-time">
                                <div class="cat-list author-topic">
                                    Tú Nguyễn
                                </div>

                                <div class="cat-list date-create-topic">
                                    5 phút trước
                                </div>
                            </div>
                            <div class="cat-list statistics">
                                <div class="cat-list contain-statistics">
                                    <div class="cat-list no-of-view-group statistics-item">
                                        <div class="cat-list no-of-view statistics-text">0</div>
                                        <div class="cat-list no-of-view-icon statistics-icon"></div>
                                    </div>
                                    <div class="cat-list no-of-like-group statistics-item">
                                        <div class="cat-list no-of-like statistics-text">0</div>
                                        <div class="cat-list no-of-like-icon statistics-icon"></div>
                                    </div>
                                    <div class="cat-list no-of-comment-group statistics-item">
                                        <div class="cat-list no-of-comment statistics-text">0</div>
                                        <div class="cat-list no-of-comment-icon statistics-icon"></div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="featured-topic-item">
                <div class="cat-list author-avatar" style="background: url(/images/1876627109227082.png); background-repeat: no-repeat; background-size: contain;"></div>
                <div class="cat-list topic-content">
                    <div class="cat-list topic-left-group">
                        <div class="cat-list topic-header">
                            title
                        </div>
                    </div>

                    <div class="cat-list statistics">

                        <div class="cat-list contain-statistics">
                            <div class="cat-list no-of-view-group statistics-item">
                                <div class="cat-list no-of-view statistics-text">0</div>
                                <div class="cat-list no-of-view-icon statistics-icon"></div>
                            </div>
                            <div class="cat-list no-of-like-group statistics-item">
                                <div class="cat-list no-of-like statistics-text">0</div>
                                <div class="cat-list no-of-like-icon statistics-icon"></div>
                            </div>
                            <div class="cat-list no-of-comment-group statistics-item">
                                <div class="cat-list no-of-comment statistics-text">0</div>
                                <div class="cat-list no-of-comment-icon statistics-icon"></div>
                            </div>
                        </div>

                        <div class="cat-list author-and-time">
                            <div class="cat-list author-topic">
                                Tú Nguyễn
                            </div>

                            <div class="cat-list date-create-topic">
                                5 phút trước
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="featured-topic-item">
                <div class="cat-list author-avatar" style="background: url(/images/1876627109227082.png); background-repeat: no-repeat; background-size: contain;"></div>
                <div class="cat-list topic-content">
                    <div class="cat-list topic-left-group">
                        <div class="cat-list topic-header">
                            title
                        </div>
                    </div>

                    <div class="cat-list statistics">

                        <div class="cat-list contain-statistics">
                            <div class="cat-list no-of-view-group statistics-item">
                                <div class="cat-list no-of-view statistics-text">0</div>
                                <div class="cat-list no-of-view-icon statistics-icon"></div>
                            </div>
                            <div class="cat-list no-of-like-group statistics-item">
                                <div class="cat-list no-of-like statistics-text">0</div>
                                <div class="cat-list no-of-like-icon statistics-icon"></div>
                            </div>
                            <div class="cat-list no-of-comment-group statistics-item">
                                <div class="cat-list no-of-comment statistics-text">0</div>
                                <div class="cat-list no-of-comment-icon statistics-icon"></div>
                            </div>
                        </div>

                        <div class="cat-list author-and-time">
                            <div class="cat-list author-topic">
                                Tú Nguyễn
                            </div>

                            <div class="cat-list date-create-topic">
                                5 phút trước
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="featured-topic-item">
                <div class="cat-list author-avatar" style="background: url(/images/1876627109227082.png); background-repeat: no-repeat; background-size: contain;"></div>
                <div class="cat-list topic-content">
                    <div class="cat-list topic-left-group">
                        <div class="cat-list topic-header">
                            title
                        </div>
                    </div>

                    <div class="cat-list statistics">

                        <div class="cat-list contain-statistics">
                            <div class="cat-list no-of-view-group statistics-item">
                                <div class="cat-list no-of-view statistics-text">0</div>
                                <div class="cat-list no-of-view-icon statistics-icon"></div>
                            </div>
                            <div class="cat-list no-of-like-group statistics-item">
                                <div class="cat-list no-of-like statistics-text">0</div>
                                <div class="cat-list no-of-like-icon statistics-icon"></div>
                            </div>
                            <div class="cat-list no-of-comment-group statistics-item">
                                <div class="cat-list no-of-comment statistics-text">0</div>
                                <div class="cat-list no-of-comment-icon statistics-icon"></div>
                            </div>
                        </div>

                        <div class="cat-list author-and-time">
                            <div class="cat-list author-topic">
                                Tú Nguyễn
                            </div>

                            <div class="cat-list date-create-topic">
                                5 phút trước
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="featured-topic-item">
                <div class="cat-list author-avatar" style="background: url(/images/1876627109227082.png); background-repeat: no-repeat; background-size: contain;"></div>
                <div class="cat-list topic-content">
                    <div class="cat-list topic-left-group">
                        <div class="cat-list topic-header">
                            title
                        </div>
                    </div>

                    <div class="cat-list statistics">

                        <div class="cat-list contain-statistics">
                            <div class="cat-list no-of-view-group statistics-item">
                                <div class="cat-list no-of-view statistics-text">0</div>
                                <div class="cat-list no-of-view-icon statistics-icon"></div>
                            </div>
                            <div class="cat-list no-of-like-group statistics-item">
                                <div class="cat-list no-of-like statistics-text">0</div>
                                <div class="cat-list no-of-like-icon statistics-icon"></div>
                            </div>
                            <div class="cat-list no-of-comment-group statistics-item">
                                <div class="cat-list no-of-comment statistics-text">0</div>
                                <div class="cat-list no-of-comment-icon statistics-icon"></div>
                            </div>
                        </div>

                        <div class="cat-list author-and-time">
                            <div class="cat-list author-topic">
                                Tú Nguyễn
                            </div>

                            <div class="cat-list date-create-topic">
                                5 phút trước
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="featured-topic-item">
                <div class="cat-list author-avatar" style="background: url(/images/1876627109227082.png); background-repeat: no-repeat; background-size: contain;"></div>
                <div class="cat-list topic-content">
                    <div class="cat-list topic-left-group">
                        <div class="cat-list topic-header">
                            title
                        </div>
                    </div>

                    <div class="cat-list statistics">

                        <div class="cat-list contain-statistics">
                            <div class="cat-list no-of-view-group statistics-item">
                                <div class="cat-list no-of-view statistics-text">0</div>
                                <div class="cat-list no-of-view-icon statistics-icon"></div>
                            </div>
                            <div class="cat-list no-of-like-group statistics-item">
                                <div class="cat-list no-of-like statistics-text">0</div>
                                <div class="cat-list no-of-like-icon statistics-icon"></div>
                            </div>
                            <div class="cat-list no-of-comment-group statistics-item">
                                <div class="cat-list no-of-comment statistics-text">0</div>
                                <div class="cat-list no-of-comment-icon statistics-icon"></div>
                            </div>
                        </div>

                        <div class="cat-list author-and-time">
                            <div class="cat-list author-topic">
                                Tú Nguyễn
                            </div>

                            <div class="cat-list date-create-topic">
                                5 phút trước
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="featured-topic-item">
                <div class="cat-list author-avatar" style="background: url(/images/1876627109227082.png); background-repeat: no-repeat; background-size: contain;"></div>
                <div class="cat-list topic-content">
                    <div class="cat-list topic-left-group">
                        <div class="cat-list topic-header">
                            title
                        </div>
                    </div>

                    <div class="cat-list statistics">

                        <div class="cat-list contain-statistics">
                            <div class="cat-list no-of-view-group statistics-item">
                                <div class="cat-list no-of-view statistics-text">0</div>
                                <div class="cat-list no-of-view-icon statistics-icon"></div>
                            </div>
                            <div class="cat-list no-of-like-group statistics-item">
                                <div class="cat-list no-of-like statistics-text">0</div>
                                <div class="cat-list no-of-like-icon statistics-icon"></div>
                            </div>
                            <div class="cat-list no-of-comment-group statistics-item">
                                <div class="cat-list no-of-comment statistics-text">0</div>
                                <div class="cat-list no-of-comment-icon statistics-icon"></div>
                            </div>
                        </div>

                        <div class="cat-list author-and-time">
                            <div class="cat-list author-topic">
                                Tú Nguyễn
                            </div>

                            <div class="cat-list date-create-topic">
                                5 phút trước
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>




    </div>


</div>
<script src="~/js/expand.js"></script>


<script>

    function getTop(element) {
        return element.offset().top;
    }
    function getBottom(element) {
        return getTop(element) + element.height();
    }
    function getMarginBottom(element) {
        var strMarginBottom = element.css('margin-bottom');
        var len = strMarginBottom.length;
        return parseInt(strMarginBottom.substring(0, len - 2));
    }

    function getMarginTop(element) {
        var strMarginBottom = element.css('margin-bottom');
        var len = strMarginBottom.length;
        return parseInt(strMarginBottom.substring(0, len - 2));
    }

    function getContainingHeight(element) {
        return window.innerHeight - getBottom(element) - getMarginBottom(element);
    }

    function getTitleItemHeight() {
        return $($('.title-item')[0]).outerHeight() + getMarginBottom($('.title-item').parent());
    }


    function getHeightForContentExpand(parent) {
        var numOfTitleItem = parent.find('.title-item').length;
        return getContainingHeight($($('.category-navigation')[0])) - numOfTitleItem * getTitleItemHeight();
    }

    $('#feature-topic-fixed').height(getContainingHeight($($('.category-navigation')[0])) - 50);


    var curExpand;

    $.each($('#space-expand').find('.category-parent-item'),
        function (key, val) {
            var contentExpand = $(val).find('.content-expand')[0];
            $(contentExpand).css('display', 'none');
            $(contentExpand).height(0);
        });

    //  setExpand($($('.category-parent-item')[0]),true);


    $.each($('#space-expand').find('.title-item'),
        function (key, val) {
            var parent = $(val).parent();
            var contentExpand = $($(parent).find('.content-expand')[0]);
            // contentExpands[key] = (contentExpand.outerHeight());
            var parentHeight = getHeightForContentExpand(parent.parent());
            if (contentExpands[key] > parentHeight) {
                contentExpands[key] = parentHeight;
            }
        });

    function onPrepareExpand(expand, item) {

        if (expand) {
            var parent = $(item).parent();
            var parentHeight = getHeightForContentExpand(parent.parent());
            var itemChilds = $(item).parent().find('.category-item');
            var itemChildCount = itemChilds.length;
            var itemChild = $(itemChilds[0]);
            var contentHeight = itemChildCount * itemChild.height() + getMarginBottom(itemChild) + getMarginTop(itemChild);
            if (contentHeight > parentHeight) {
                $(item).css('overflow-y', 'scroll');
            }
            if (curExpand != null && item.context !== curExpand.context) {
                setExpand($(curExpand).parent(), false);
            }
            curExpand = $(item);
        }

        //if (expand) {
        //    if (curExpand!=null && item.context !== curExpand.context) {
        //        setExpand($(curExpand).parent(), false);
        //    }
        //    curExpand = $(item);
        //    var parentHeight = getHeightForContentExpand($(curExpand).parent());

        //    var itemHeight = $(curExpand).parent().find('.category-item')[0].height();

        //    var contentHeight = $(curExpand).parent().find('.category-item').length * itemHeight;

        //    if (contentHeight > parentHeight) {
        //        $(item).parent().height(parentHeight);
        //        $(item).parent().css('overflow-y', 'scroll');
        //    } else {
        //        $(item).parent().css('overflow', '');
        //    }

        //$(curExpand).parent().height = getHeightForContentExpand($(curExpand).parent());

        //   }
    }


</script>