@{
    Layout = "~/Views/Shared/WebLayout.cshtml";
}


<div class="title-group">
    <div class="topic-detail-title">
        Bán điện thoại sam sung galaxy s8
    </div>
    <div class="follow-group">
        <img src="/Images/follow.png" ></img>
    </div>
    <div class="history-topic-info">
        <div class="author-group">
            <div class="author-image"></div>
            <div class="author-topic topic-detail">Tú nguyễn</div>
        </div>
        <div class="date-created-group">
            <img src="/Images/date.png" class="date-created-image image-default"></img>
            <div class="date-created history-topic-text">23-04-2017.</div>
        </div>
        <div class="reply-group">
            <img src="/Images/reply.png" class="image-default"></img>
            <div class="reply-number history-topic-text">10</div>
        </div>
        <div class="view-group">
            <img src="/Images/view.png" class="image-default"></img>
            <div class="view-number history-topic-text">10</div>
        </div>
    </div>
</div>
