@using Model;
@{
    ViewBag.Title = "Index";
    List<LanguageCode> languages = ViewBag.LanguageCodes;
}

<ul>
    @foreach (var language in languages)
    {
        <li>
            <a href="/Language/Change?languageAbbrevation=@language.Code">@language.Name</a>
        </li>
    }
</ul>

<h2>Index</h2>

