
<head>
    <title>Topic</title>
    <link href="~/css/new/style.css" rel="stylesheet" />
    <script src="~/js/jquery-1.10.2.min.js"></script>
    <link href="~/css/new/jquery-ui.css" rel="stylesheet" />

    <link href="~/css/font-awesome.css" rel="stylesheet" />

</head>
<body>


    <div class="web-full">
        <div class="content">
            <div class="header center-vertical">
                <div class="web-name  center-vertical">Bán hàng</div>
                <div class="search-input-group  center-vertical">
                    <input class="search-input center-vertical" placeholder="Tìm kiếm" />
                    <div class="search-icon center-vertical"></div>
                    <div class="advanced-search-icon center-vertical"></div>
                </div>

                <div class="menu-group  center-vertical">
                    <div class="menu center-vertical">Trang chủ</div>
                    <div class="menu center-vertical">Sản phẩm</div>
                    <div class="menu center-vertical">Forum</div>
                </div>

                <div class="profile-group  center-vertical">
                    <div class="profile">
                        <div style="display: flex">
                            <div class="notification  center-vertical">
                            </div>
                            <div class="user-name center-vertical">Hùng Ask</div>
                            <div class="user-icon center-vertical"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-content">
                <div class="main-content-top">
                    <div class="category-title">
                        <div class="shape-category-titles">
                        </div>
                        <div class="category-title-content">
                            Nhật bản
                        </div>
                    </div>
                    <div class="sort-order-group">

                        <div class="sort-order create-account-content">
                            <div class="dropdown-label-group">
                                <div class="create-account-label">
                                    Sắp xếp theo
                                </div>
                                <div id="a" class="drop-down-group">
                                    <input class="create-account-input" type="text" name="" value="Mới nhất" readonly placeholder="Chọn" />
                                    <div class="icon-drop-down-par">
                                        <i class="fa fa-caret-down icon-drop-down" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="drop-down-item-list">
                                    <div class="drop-down-item">Mới nhất</div>
                                    <div class="drop-down-item">Nhiều lượt like nhất</div>
                                    <div class="drop-down-item">Nhiều lượt comment nhất</div>
                                    <div class="drop-down-item">Nhiều lượt xem nhất</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="main-content-body">

                    <div class="topic-item">
                        <div class="author-avatar"></div>
                        <div class="topic-content">

                            <div class="topic-left-group">

                                <div class="topic-header">
                                    Cần bán galaxy s8 tại nhật
                                </div>
                                <div class="last-post">
                                    <div class="last-post-avatar"></div>
                                    <div class="last-post-content">Máy đẹp quá.</div>
                                </div>
                                <div class="date-post">
                                    03/08/2017
                                </div>
                            </div>
                            <div class="statistics">
                                <div class="no-of-view-group statistics-item">
                                    <div class="no-of-view">1 tỷ</div>
                                    <div class="no-of-view-icon"></div>
                                </div>
                                <div class="no-of-like-group statistics-item">
                                    <div class="no-of-like">1 tr</div>
                                    <div class="no-of-like-icon"></div>
                                </div>

                                <div class="no-of-comment-group statistics-item">
                                    <div class="no-of-comment">1200</div>
                                    <div class="no-of-comment-icon"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="topic-item">
                        <div class="author-avatar"></div>
                        <div class="topic-content">

                            <div class="topic-left-group">

                                <div class="topic-header">
                                    Cần bán galaxy s8 tại nhật
                                </div>
                                <div class="last-post">
                                    <div class="last-post-avatar"></div>
                                    <div class="last-post-content">Máy đẹp quá.</div>
                                </div>
                                <div class="date-post">
                                    03/08/2017
                                </div>
                            </div>
                            <div class="statistics">
                                <div class="no-of-view-group statistics-item">
                                    <div class="no-of-view">1 tỷ</div>
                                    <div class="no-of-view-icon"></div>
                                </div>
                                <div class="no-of-like-group statistics-item">
                                    <div class="no-of-like">1 tr</div>
                                    <div class="no-of-like-icon"></div>
                                </div>

                                <div class="no-of-comment-group statistics-item">
                                    <div class="no-of-comment">1200</div>
                                    <div class="no-of-comment-icon"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="topic-item">
                        <div class="author-avatar"></div>
                        <div class="topic-content">

                            <div class="topic-left-group">

                                <div class="topic-header">
                                    Cần bán galaxy s8 tại nhật
                                </div>
                                <div class="last-post">
                                    <div class="last-post-avatar"></div>
                                    <div class="last-post-content">Máy đẹp quá.</div>
                                </div>
                                <div class="date-post">
                                    03/08/2017
                                </div>
                            </div>
                            <div class="statistics">
                                <div class="no-of-view-group statistics-item">
                                    <div class="no-of-view">1 tỷ</div>
                                    <div class="no-of-view-icon"></div>
                                </div>
                                <div class="no-of-like-group statistics-item">
                                    <div class="no-of-like">1 tr</div>
                                    <div class="no-of-like-icon"></div>
                                </div>

                                <div class="no-of-comment-group statistics-item">
                                    <div class="no-of-comment">1200</div>
                                    <div class="no-of-comment-icon"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="topic-item">
                        <div class="author-avatar"></div>
                        <div class="topic-content">

                            <div class="topic-left-group">

                                <div class="topic-header">
                                    Cần bán galaxy s8 tại nhật
                                </div>
                                <div class="last-post">
                                    <div class="last-post-avatar"></div>
                                    <div class="last-post-content">Máy đẹp quá.</div>
                                </div>
                                <div class="date-post">
                                    03/08/2017
                                </div>
                            </div>
                            <div class="statistics">
                                <div class="no-of-view-group statistics-item">
                                    <div class="no-of-view">1 tỷ</div>
                                    <div class="no-of-view-icon"></div>
                                </div>
                                <div class="no-of-like-group statistics-item">
                                    <div class="no-of-like">1 tr</div>
                                    <div class="no-of-like-icon"></div>
                                </div>

                                <div class="no-of-comment-group statistics-item">
                                    <div class="no-of-comment">1200</div>
                                    <div class="no-of-comment-icon"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="topic-item">
                        <div class="author-avatar"></div>
                        <div class="topic-content">

                            <div class="topic-left-group">

                                <div class="topic-header">
                                    Cần bán galaxy s8 tại nhật
                                </div>
                                <div class="last-post">
                                    <div class="last-post-avatar"></div>
                                    <div class="last-post-content">Máy đẹp quá.</div>
                                </div>
                                <div class="date-post">
                                    03/08/2017
                                </div>
                            </div>
                            <div class="statistics">
                                <div class="no-of-view-group statistics-item">
                                    <div class="no-of-view">1 tỷ</div>
                                    <div class="no-of-view-icon"></div>
                                </div>
                                <div class="no-of-like-group statistics-item">
                                    <div class="no-of-like">1 tr</div>
                                    <div class="no-of-like-icon"></div>
                                </div>

                                <div class="no-of-comment-group statistics-item">
                                    <div class="no-of-comment">1200</div>
                                    <div class="no-of-comment-icon"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="main-content-bottom">
                    <div class="no-of-page-group">
                        <div class="no-of-page-item item-selected">1</div>
                        <div class="no-of-page-item">2</div>
                        <div class="no-of-page-item">3</div>
                        <div class="no-of-page-item">4</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        function getValueDropdown(item) {
            var dropdowInput = $($(item.find('.drop-down-group')[0]).find('.create-account-input')[0]);
            return dropdowInput.val();
        }

        function setValueDropdown(item, value) {
            var dropdowInput = $($(item.find('.drop-down-group')[0]).find('.create-account-input')[0]);
            dropdowInput.val(value);
        }


        //dropdown hander
        var dropdowns = $('.dropdown-label-group');
        $.each(dropdowns, function (key, item) {
            var dropdowInput = $($($(item).find('.drop-down-group')[0]).find('.create-account-input')[0]);
            var dropDownItemParent = $($(item).find('.drop-down-item-list')[0]);
            var label = $($(item).find('.create-account-label')[0]);

            $(dropDownItemParent).css('left', (dropdowInput.offset().left - $(item).offset().left) + 'px');
            $(dropDownItemParent).css('width', $(dropdowInput).outerWidth() + 'px');
            $(dropdowInput).click(function (e) {
                e.preventDefault();
                $(dropDownItemParent).css('display', 'block');
            });

            $(document).on('click', function (e) {
                if ($(e.target).closest($(dropdowInput)).length === 0) {
                    $(dropDownItemParent).css('display', 'none');
                }
            });

            var dropDownItems = $(dropDownItemParent).find('.drop-down-item');

            $.each(dropDownItems, function (index, dropDownItem) {
                $(dropDownItem).click(function (e) {
                    setValueDropdown($(item), $(dropDownItem).text());
                });
            });

        });


    </script>

</body>
