<!DOCTYPE html>
<html dir="ltr" lang="en-gb">
<head>
    <meta charset="utf-8">

    <title>FLATBOOTS&nbsp;&#45;&nbsp;Index page</title>
    <link rel="alternate" type="application/atom+xml" title="Feed - FLATBOOTS" href="http://www.sitesplat.com/demo/phpBB3/FLATBOOTS/phpbb31/feed.php">
    <link rel="alternate" type="application/atom+xml" title="Feed - New Topics" href="http://www.sitesplat.com/demo/phpBB3/FLATBOOTS/phpbb31/feed.php?mode=topics">

    <!-- Google free font here -->
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Asap:700' rel='stylesheet' type='text/css'>

    <!-- CSS files start here -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/style.min.css" rel="stylesheet" />
    <link href="~/css/basics.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/css/nemoji.css?assets_version=55" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/css/likedd.css?assets_version=55" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/css/lightbox.min.css?assets_version=55" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/css/main.css" rel="stylesheet" />

    <link href="~/css/basics.min.css" rel="stylesheet">
    <!-- Remove the conditional below to use the custom CSS without FLATBOOTS Mini CMS Extension -->
    <!-- CSS files stop here -->

    <style>
        .spinner {
            position: absolute;
            left: 45.625%;
            top: 42.22%;
            left: calc(50% - 28px);
            top: calc(50% - 28px);
            height: 40px;
            width: 40px;
            animation: spinner .8s infinite linear;
            border: 8px solid #ccc;
            border-top-color: transparent;
            border-radius: 50%;
        }

        keyframes spinner {
            0%;

        {
            transform: rotate(0);
        }

        100% {
            transform: rotate(360deg);
        }

        }
    </style>
    <script>
        var boardurl = '/';
    </script>
    <!-- older scripts set started here after the headjs - cannot do this with phpbb31 due to ajax stuff -->
    <script src="~/js/head.load.min.js"></script>
    <script>
        var fbTokenId = "@ViewBag.FacebookTokenId";
        var redirectUrl = "@ViewBag.RedirectUrl";
    </script>
</head>
<body data-spy="scroll" data-target=".scrollspy" id="phpbb" class="section-index ltr ">

    <header id="top" class="navbar navbar-inverse navbar-static-top flat-nav fixedHeader">
        <div class="container">
            <div class="navbar-header">
                <button data-target=".flat-nav-collapse" data-toggle="collapse" type="button" class="nav-tog lines-button x navbar-toggle neutro">
                    <span class="sr-only sr-nav">Toggle Navigation</span>
                    <span class="lines"></span>
                </button>
                <a class="navbar-brand" href="./index.php">FLATBOOTS</a>
            </div>
            <!-- Main navigation block -->
            <nav class="collapse navbar-collapse flat-nav-collapse" aria-label="Primary">

                <ul class="nav navbar-nav navbar-nav-fancy">
                    <li class=""><a href="./index.php">Home</a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Forum&nbsp;<b class="caret"></b></a>
                        <span class="dropdown-arrow"></span>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-search"></i>Unanswered topics</a></li>
                            <li><a href="#"><i class="fa fa-star"></i>Active topics</a></li>
                            <li><a href="#"><i class="fa fa-question-circle"></i>FAQ</a></li>
                            <li><a href="#"><i class="fa fa-trophy"></i>Top 10 Like / Dislike list</a></li>
                            <li><a href="#"><i class="fa fa-group"></i>Members</a></li>
                            <li><a href="#"><i class="fa fa-trophy"></i>The team</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Search&nbsp;<b class="caret"></b></a>
                        <span class="dropdown-arrow"></span>
                        <ul class="dropdown-menu">
                            <li><a href="./search.php"><i class="fa fa-search fa"></i>Advanced search</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Header intro example</li>
                            <li><a href="#">Demo link no icons</a></li>
                            <li><a href="#">Demo link no icons</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="search-input search-input-fullscreen hidden-xs hidden-sm">
        <form method="get" id="search" action="./search.php">
            <fieldset>
                <input name="keywords" id="keywords" type="text" maxlength="128" title="Search for keywords" placeholder="Search" value="" autocomplete="off" />
                <div class="close">&times;</div>

            </fieldset>
        </form>
    </div>

    <div class="container" id="container">
        <!-- start content -->
        <div id="content-forum">
            <div class="panel-login panel-w-form">
                <div class="container">
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="signin-text">
                                <span>Sign in onto your account</span>
                            </div>
                            <div id="anti-foreign-token">
                                @Html.AntiForgeryToken()
                            </div>
                            <div class="form-group">
                                @*<label class="sr-only" for="username">Username:</label>*@
                                <div class="form-icon">
                                    <input type="text" class="form-control input-lg" name="name" id="txtName" placeholder="Name">
                                    <span class="fa fa-user login-form-icon"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                @*<label class="sr-only" for="email">Email:</label>*@
                                <div class="form-icon">
                                    <input type="text" class="form-control input-lg" name="email" id="txtEmail" placeholder="Email">
                                    <span class="fa fa-envelope login-form-icon"></span>
                                </div>
                            </div>

                            <div class="checkbox pull-right">
                                <label for="autologin"><input type="checkbox" name="autologin" id="autologin">Keep me logged in</label>
                            </div>
                            <button type="submit" class="btn btn-primary" id="buttonRegister" name="login" value="Login" data-loading-text="Logging-in...<i class='fa-spin fa fa-spinner fa-lg'></i>">Register</button>
                            <input type="hidden" name="redirect" value="./index.php?" />

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- container in header -->


    <section class="section-pre-footer">
        <div class="container center">
            <div class="row">
                <div class="col-sm-5 twitter">
                    <div class="thumb"><i class="fa fa-paw"></i></div>
                    <div class="text">
                        <h3>Built to last</h3>
                        <p>Why Would you Settle for Less when you can have More? Do not let other Authors Fool you with Empty Marketing Keywords. FLATBOOTS is what you Deserve. Built to last, Built from Scratch, Nothing Less.</p>
                        <a href="#"><strong>Read more</strong></a>
                    </div>

                </div>
                <div class="col-sm-5 col-sm-offset-2 twitter">
                    <div class="thumb"><i class="fa fa-twitter"></i></div>
                    <div class="text">
                        <h3><a href="https://twitter.com/SiteSplat">Join us on Twitter&nbsp;<small>@@SiteSplat</small></a></h3>
                        <div id="twitter-feed"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-bg"></div>
    </section>
    <footer class="burned-asphalt">
        <!-- Footer block -->
        <div class="midnight-" id="sub-footer">
            <div class="container">

                <div class="row bottomLinks">
                    <div class="col-sm-6 sm-direction">
                        <nav>
                            <ul class="list-inline footer-nav">
                                <li><a href="http://goo.gl/LvmwlF" title="">Advertise</a></li>
                                <li><a href="./ucp.php?mode=privacy" title="">Privacy policy</a></li>
                                <li><a href="" title="">DMCA</a></li>
                                <li><a href="./ucp.php?mode=terms" title="">Terms</a></li>
                            </ul>

                        </nav>
                    </div>
                    <div class="col-sm-6 sm-direction">
                        <div class="clearfix socialbar">
                            <div class="social-network">
                                <a class="google-plus-color" title="Google+" href="https://plus.google.com/u/0/100435978342273345264/"><i class="fa fa-google-plus"></i></a>
                                <a class="github-color" title="Github" href="#2"><i class="fa fa-github"></i></a>
                                <a class="behance-color" title="Behance" href="#3"><i class="fa fa-behance"></i></a>
                                <!-- <a class="dropbox-color" title="Dropbox" href="#4"><i class="fa fa-dropbox"></i></a> -->
                                <!-- <a class="pinterest-color" title="Pinterest" href="#5"><i class="fa fa-pinterest"></i></a> -->
                                <a class="facebook-color" title="Facebook" href="#6"><i class="fa fa-facebook"></i></a>
                                <a class="twitter-color" title="Twitter" href="https://twitter.com/SiteSplat"><i class="fa fa-twitter"></i></a>
                                <!-- <a class="bitbucket-color" title="Bitbucket" href="#8"><i class="fa fa-bitbucket"></i></a> -->
                                <a class="envato-color" title="Envato" href="http://themeforest.net/user/ThemeSplat/portfolio?ref=ThemeSplat"><i class="icon-moon-envatoleaf"></i></a>
                                <a class="rss-color hidden-xs" title="rss" href="http://www.sitesplat.com/demo/phpBB3/FLATBOOTS/phpbb31/feed.php"><i class="fa fa-rss"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 sm-direction">
                        <p class="copyrights">
                            <small>HandCrafted With</small>&nbsp;<i class="fa fa-heart text-flatboots-red"></i>&nbsp;<small>And</small>&nbsp;<i class="fa fa-coffee"></i>&nbsp;<small>By<a href="http://www.sitesplat.com/" title="SiteSplat" target="_blank">&nbsp;SiteSplat</a>&nbsp;&#45;&nbsp;Powered By&nbsp;<a href="http://www.phpbb.com/" title="Forum Software &copy; phpBB&reg; Group" target="_blank">phpBB</a></small>
                        </p>
                    </div>

                    <div class="col-sm-6 sm-direction">
                        <p class="debug-output">
                            <small>&#45;&nbsp;All times are <abbr title="UTC-5">UTC-05:00</abbr>&nbsp;&#45;</small>
                            <!-- FLATBOOTS_VERSION -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a id="totop" class="top-flat" href="" onclick="return false;" style="display:none;"></a>
    <div class="hidden"></div>
    <!-- injected via core and ajax JS for the return confirmation actions -->
    <div id="page-footer">
        <div id="darkenwrapper" data-ajax-error-title="AJAX error" data-ajax-error-text="Something went wrong when processing your request." data-ajax-error-text-abort="User aborted request." data-ajax-error-text-timeout="Your request timed out; please try again." data-ajax-error-text-parsererror="Something went wrong with the request and the server returned an invalid reply.">
            <div id="darken">&nbsp;</div>
        </div>

        <div id="phpbb_alert" class="alert alert-default phpbb_alert" data-l-err="Error" data-l-timeout-processing-req="Request timed out.">
            <button type="button" class="close alert_close" data-dismiss="alert"><span class="awe-remove-circle"></span></button>
            <h3 class="alert_title">&nbsp;</h3>
            <p class="alert_text"></p>
        </div>

        <div id="phpbb_confirm" class="alert alert-default phpbb_alert">
            <button type="button" class="close alert_close" data-dismiss="alert"><span class="awe-remove-circle"></span></button>
            <div class="alert_text"></div>
        </div>
    </div>
    <!-- injected via core and ajax JS for the return confirmation actions -->
    <script>
        // this loads jquery asyncrounously & in parallel
        head.load("/js/jquery-1.10.2.min.js", "/js/bootstrap.min.js", "/js/core.min.js", "/js/forum_fn.min.js", "/js/ajax.min.js");
    </script>

    <!-- we use this event to load the JS scripts properly via the extension system -->
    <script>
        var start = 4;
    </script>
    <script>
        var vseLightbox = {};
        vseLightbox.resizeWidth = 600;
        vseLightbox.lightboxGal = 1;
        vseLightbox.lightboxSig = 0;
        vseLightbox.imageTitles = 0;
    </script>

    <!-- injected via a module or an include -->
    <script>
        // some function that depends on bootstrap and jquery
        head.ready(function () {
            $('.footable').footable(); $(".selectpicker").selectpicker(); $(".selectpicker").tooltip("disable"); var totop = $("#totop"); totop.click(function () { $("html, body").stop(true, true).animate({ scrollTop: 0 }, 500); return false }); $(window).scroll(function () { if ($(this).scrollTop() > 600) { totop.fadeIn() } else { totop.fadeOut() } }); $("button[data-loading-text], input[data-loading-text], .btn-load").click(function () { var e = $(this); e.button("loading"); setTimeout(function () { e.button("reset") }, 3e3) });
            $("input").iCheck({ checkboxClass: "icheckbox_flat-aero", radioClass: "iradio_flat-aero" }); $(".btn-search").click(function () { $(".search-input").toggleClass("open").find("input").focus() }); $(".close").click(function () { $(this).prev("input").val("").parents(".search-input").removeClass("open") }); $(".nav-tog").click(function () { if ($(this).hasClass("neutro")) { $(this).removeClass("neutro").addClass("open") } else { $(this).removeClass("open").addClass("neutro") } });
            $('input[data-reset-on-edit]').on('keyup', function () { $(this.getAttribute('data-reset-on-edit')).val(''); });
            $('a').tooltip({ trigger: 'hover', container: 'body' })
            $('#notification_list_button').click(function () { setTimeout(function () { $(".nano").nanoScroller(); }, 0); });
        });
        // some function that depends on bootstrap and jquery
        head.load("/js/twitterFetcher.min.js");
        head.ready('/js/twitterFetcher.min.js', function (twit) { var twit = { "id": '391407906655965184', "domId": 'twitter-feed', "maxTweets": 1, "showUser": false, "showImages": true, "enableLinks": true }; twitterFetcher.fetch(twit); });
    </script>
    <!-- injected via a module or an include -->

    <script type="text/javascript" src="~/js/fltl.js?assets_version=55"></script>
    <script type="text/javascript" src="~/js/resizer.js?assets_version=55"></script>
    <script type="text/javascript" src="~/js/lightbox.min.js?assets_version=55"></script>
    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script src="~/js/authorize/facebook.js"></script>
    <script>
        $('#content-forum').css('margin-top', ($($('#top')).outerHeight() + 20) + 'px');
    </script>

</body>
</html>
