@{
    Layout = "~/Views/Shared/WebLayout.cshtml";
}


<section class="section-page">
    <div id="rtblock" class="container">
        <div class="row text-center" id="fltl">
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-post">
                    <div class="blog-meta">
                        <time datetime="2017-04-29" class="entry-date">
                            <span class="day">29</span>
                            <span class="month">Apr</span>
                        </time>
                    </div>
                    <div class="title">
                        <header class="entry-header">
                            <h6 class="inverse-font"><a title="" href="./viewtopic.php?f=17&amp;t=12">Normal Announcement example - note the font icon status</a></h6>
                            <div class="entry-meta">
                                <span class="jp-views"><img src="//secure.gravatar.com/avatar/c11c45a882130d6f0ea476145a7e2d9a?s=100&amp;d=identicon" width="100" height="100" alt="User avatar" />&nbsp;&#45;&nbsp;By&nbsp;Ralph</span>
                            </div>
                        </header>
                    </div>
                    <div class="content-post">
                        <p>wow</p>
                    </div>
                    <div class="panel-bottom">
                        <a title="" class="btn btn-xs btn-block" href="./viewtopic.php?p=421#p421">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-post">
                    <div class="blog-meta">
                        <time datetime="2017-04-29" class="entry-date">
                            <span class="day">29</span>
                            <span class="month">Apr</span>
                        </time>
                    </div>
                    <div class="title">
                        <header class="entry-header">
                            <h6 class="inverse-font"><a title="" href="./viewtopic.php?f=17&amp;t=85">BBemoji - Custom extension to support emoji with autoselect for phpBB 3.1</a></h6>
                            <div class="entry-meta">
                                <span class="jp-views"><img src="//secure.gravatar.com/avatar/c11c45a882130d6f0ea476145a7e2d9a?s=100&amp;d=identicon" width="100" height="100" alt="User avatar" />&nbsp;&#45;&nbsp;By&nbsp;Ralph</span>
                            </div>
                        </header>
                    </div>
                    <div class="content-post">
                        <p> Check this out start typing an emojy for example &#91;&hellip;&#93;</p>
                    </div>
                    <div class="panel-bottom">
                        <a title="" class="btn btn-xs btn-block" href="./viewtopic.php?p=419#p419">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-post">
                    <div class="blog-meta">
                        <time datetime="2017-04-28" class="entry-date">
                            <span class="day">28</span>
                            <span class="month">Apr</span>
                        </time>
                    </div>
                    <div class="title">
                        <header class="entry-header">
                            <h6 class="inverse-font"><a title="" href="./viewtopic.php?f=17&amp;t=111">This is my first post</a></h6>
                            <div class="entry-meta">
                                <span class="jp-views"><img src="//secure.gravatar.com/avatar/d9089aba7a32dc6d225257f88328ed4b?s=100&amp;d=identicon" width="100" height="100" alt="User avatar" />&nbsp;&#45;&nbsp;By&nbsp;XwXCatwomanXwX</span>
                            </div>
                        </header>
                    </div>
                    <div class="content-post">
                        <p>This exciting, I really like this interface.</p>
                    </div>
                    <div class="panel-bottom">
                        <a title="" class="btn btn-xs btn-block" href="./viewtopic.php?p=418#p418">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-post">
                    <div class="blog-meta">
                        <time datetime="2017-04-10" class="entry-date">
                            <span class="day">10</span>
                            <span class="month">Apr</span>
                        </time>
                    </div>
                    <div class="title">
                        <header class="entry-header">
                            <h6 class="inverse-font"><a title="" href="./viewtopic.php?f=17&amp;t=110">Bu bir test başlığıdır</a></h6>
                            <div class="entry-meta">
                                <span class="jp-views"><img src="//secure.gravatar.com/avatar/1d510a88d04eb825e2741c5642ec31e9?s=100&amp;d=identicon" width="100" height="100" alt="User avatar" />&nbsp;&#45;&nbsp;By&nbsp;brandt</span>
                            </div>
                        </header>
                    </div>
                    <div class="content-post">
                        <p>
                            http://i.hizliresim.com/9QYjNZ.png
                            Bu bir testt&#91;&hellip;&#93;
                        </p>
                    </div>
                    <div class="panel-bottom">
                        <a title="" class="btn btn-xs btn-block" href="./viewtopic.php?p=414#p414">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="rtbtnrow" class="row text-center">
            <div class="col-md-12">
                <a class="rtbutton btn btn-default btn-block btn-lazy" href="javascript:void(0)">VIEW MORE TOPICS</a>
            </div>
        </div>
    </div>
</section>
