@{
    Layout = "~/Views/Shared/WebLayout.cshtml";
    ViewModel.CategoryViewModel rootCategory = ViewBag.RootCategoryViewModel;
}

<div class="forabg">
    <div class="inner">
        <ul class="topiclist">
            <li class="header">
                <dl class="icon">
                    <dt class="header-name"><a href="viewforum03ac.html?style=15&amp;f=1&amp;sid=b9067fbac269aaffbbe06ef698ab94ea">@rootCategory.Display</a></dt>
                </dl>
            </li>
        </ul>

        @foreach (var cateViewModelItem in rootCategory.Childs)
        {
            <ul class="topiclist forums">
                <li class="row" id="forum2">
                    <dl class="icon" style="background-image: url(@cateViewModelItem.Category.Image); background-repeat: no-repeat;">
                        <dt title="No unread posts">

                            <a href="viewforum1623.html?style=15&amp;f=2&amp;sid=b9067fbac269aaffbbe06ef698ab94ea" class="forumtitle">@cateViewModelItem.Display</a><br />
                            <div class="forum-description">@cateViewModelItem.Decription</div>
                        </dt>
                    </dl>
                </li>
            </ul>
        }
    </div>
</div>
